<h1>A Fake Artist Goes to Dublin</h1>

<div style="padding: 5px">
  Username: <input type="text" id="username" />
</div>
<div>
  <canvas id="fake-artist" width=500 height=300 style="border: 1px solid black;"></canvas>
</div>
<span id="statusbar"></span>
